@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
:root {
  --main-color: #1d3557;
  --sub-color: #457b9d;
  --sub2-color: #a8dadc;
  --error-color: #e63946;
}

body {
  position: relative;
  background-color: #fff;
}

.navbar-end ul li a {
  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}
.navbar-end ul li a:hover {
  color: var(--sub-color);
}

#navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  line-height: 52px;
}

/* div container */
.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#slide-buttons ul li button {
  font-family: 'Helvetica 45 Light', sans-serif;
}

/* slide button 관련 */
.slide-button-element {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin: 8px 0;
  cursor: pointer;
}

.slide-button-element:hover {
  font-weight: bold;
}

#slide-buttons {
  position: fixed;
  top: 40%;
  left: 10%;
  transform: translate(-50%, -40%);
}

.slide-button-list {
  margin-bottom: 20px;
}

#slide-buttons h2 {
  font-size: 32px;
}

/* product-list-wrap */
section {
  display: block;
}

#product-list-wrap {
  position: relative;
  width: 800px;
  margin: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-list {
  width: 100%;
  margin-top: 50px;
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-thumbnail {
  width: 250px;
  height: 325px;
  margin-left: 30px;
}

.product-content {
  color: black;
  width: 50px;
  flex-basis: 60%;
  text-align: inherit;
}
.product-content .content * {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 30px;
}
