<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>쇼핑 5팀 - mypage</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="manage-product.css" />
    <script src="manage-product.js" type="module" defer></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- 헤더 부분 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/elice-rabbit.png" width="30" height="30" />
            <span class="has-text-link">쇼핑-5팀</span>
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-end">
          <ul id="navbar">
            <li><a href="/login">로그아웃</a></li>
            <li><a href="/mypage">마이페이지</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
                <span>카트</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- 본문 -->
    <div class="div-container">
      <div id="sell">
        <h1>제품 판매</h1>
        <div class="form-wrap">
          <form class="sell-form" enctype="multipart/form-data" action="/product/add" method="post">
            <label for="product_name">제품명</label>
            <input type="text" name="product_name" id="product_name" />

            <label for="sex">성별</label>
            <select name="sex" id="sex">
              <option value="w">woman</option>
              <option value="m">man</option>
            </select>

            <label for="type">카테고리 선택</label>
            <select name="type" id="type">
              <option value="new">new</option>
            </select>

            <label for="producer">제조사</label>
            <input type="text" id="producer" name="producer" />

            <label for="product_info">설명</label>
            <textarea name="product_info" id="product_info" cols="50" rows="10"></textarea>

            <label for="product_image">제품 이미지 첨부</label>
            <input type="file" name="image" id="product_image" />

            <label for="stock">재고 수</label>
            <input type="number" name="stock" id="stock" />

            <label for="price">가격</label>
            <input type="number" name="price" id="price" />

            <button type="submit" id="register-button" onclick="window.location.href = '/mypage';">등록하기</button>
          </form>
        </div>
      </div>

      <div id="modify">
        <h1>제품 리스트</h1>
        <div class="form-wrap">
          <table id="product-list">
            <thead>
              <tr>
                <td>제품명</td>
                <td>재고</td>
                <td>가격</td>
                <td>기능</td>
              </tr>
            </thead>
            <tbody id="products"></tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
