@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
:root {
  --main-color: #1d3557;
  --sub-color: #457b9d;
  --sub2-color: #a8dadc;
  --error-color: #e63946;
}

body {
  position: relative;
  background-color: #fff;
}
.navbar-end ul li a {
  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}
.navbar-end ul li a:hover {
  color: var(--sub-color);
}

#navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  line-height: 52px;
}
/*  사이드 메뉴 */
#side-menus-wrap {
  position: fixed;
  top: 40%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.side-menu-element {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin: 8px 0;
  cursor: pointer;
  transition: all 0.1s;
}

.selected {
  font-weight: bold;
}

/* div 컨테이너 */
.div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.div-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-container h1 {
  padding: 0 10px;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #000;
}

/* 제품 컨테이너 */

.form-wrap {
  width: 800px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px var(--sub2-color);
  padding: 50px;
  margin-bottom: 50px;
}

/* 등록 폼 */
.sell-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 150px;
}

label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

input,
textarea,
select {
  width: 70%;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #acacac;
  padding: 2px;
}

.register-button {
  background-color: var(--main-color);
  color: #fff;
  padding: 6px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* 상품 삭제 부분 */
table {
  width: 100%;
  text-align: center;
}
td {
  padding: 4px;
}
thead td {
  background-color: var(--sub-color);
  color: white;
}

.product-modify-button,
.product-delete-button {
  width: 30px;
  padding: 4px;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
}

.product-modify-button:hover {
  background-color: var(--main-color);
  color: white;
}
.product-delete-button:hover {
  background-color: var(--error-color);
  color: white;
}

.product-modify-button {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.product-delete-button {
  border: 1px solid var(--error-color);
  color: var(--error-color);
}

/* modal */
#modal {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.modal-window {
  border: 1px solid #acacac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 600px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.modal-content {
  width: 100%;
}

.modal-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content label {
  font-size: 18px;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
  margin-bottom: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

#modal-button {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 4px;
  margin-top: 8px;
  cursor: pointer;
}
