<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-5팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product-detail.css" />
    <script src="product-detail.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/elice-rabbit.png" width="30" height="30" />
            <span class="has-text-link">쇼핑-5팀</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

          <div class="navbar-end">
            <ul id="navbar">
              <li><a href="/login">로그인</a></li>
              <li><a href="/register">회원가입</a></li>
              <li>
                <a href="/cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="div-container">
      <!--카테고리 버튼-->
      <div id="slide-buttons">
        <h2>Woman</h2>
        <ul class="slide-button-list">
          <li><a href="/w/new"><button class="slide-button-element">new</button></a></li>
          <li><a href="/w/beauty"><button class="slide-button-element">beauty</button></a></li>
          <li><a href="/w/shoes"><button class="slide-button-element">shoes</button></a></li>
          <li><a href="/w/dress"><button class="slide-button-element">dress</button></a></li>
        </ul>
        <h2>Man</h2>
        <ul class="slide-button-list">
          <li><a href="/m/new"><button class="slide-button-element">new</button></a></li>
          <li><a href="/m/suit"><button class="slide-button-element">suit</button></a></li>
          <li><a href="/m/shoes"><button class="slide-button-element">shoes</button></a></li>
          <li><a href="/m/athletics"><button class="slide-button-element">athletics</button></a></li>
        </ul>
      </div>
      <!-- 제품상세 -->
      <div id="product-detail-wrap">
          <div class="product-detail-left">
            이미지
          </div>
          <div class="product-detail-right">
            <p id="producer">제조사</p>
            <div class="content">
              <p id="name">상품명</p>
              <p id="price">가격</p>
              <p id="description">설명</p>
            </div>
            <div class="buttons">
              <a href="/order"><button type="button" id="purchase">구매하기</button></a>
              <button type="button" id="cart">장바구니</button>
            </div>

          </div>

      </div>

    </div>  
  </body>
</html>
