@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

span.has-text-link {
  font-family: 'Lobster', sans-serif;
  color: black;
  font-size: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
:root {
  --main-color: #1d3557;
  --sub-color: #457b9d;
  --sub2-color: #a8dadc;
  --error-color: #e63946;
}

body {
  position: relative;
  background-color: #fff;
}

.navbar-end ul li a {
  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}
.navbar-end ul li a:hover {
  color: var(--sub-color);
}

#navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  line-height: 52px;
}

/* div container */
.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

#slide-buttons {
  position: fixed;
  margin: 50px 0 0 0;
}

#slide-buttons ul li button {
  font-family: 'Helvetica 45 Light', sans-serif;
}

/* slide button 관련 */
.slide-button-element {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin: 8px 0;
  cursor: pointer;
}

.slide-button-element:hover {
  font-weight: bold;
}

#slide-buttons {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.slide-button-list {
  margin-bottom: 20px;
}

#slide-buttons h2 {
  font-size: 32px;
}

/* product-detail-wrap */
#product-detail-wrap {
  width: 800px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 150px;
}

#product-detail {
  width: 100%;
  display: flex;
  justify-content: center;
}

#product-thumbnail {
  width: 300px;
  height: 400px;
  text-align: center;
  object-fit: contain;
}
.product-detail-right {
  width: 400px;
  height: 400px;
  margin-left: 50px;
}

.content {
  margin-top: 10px;
}
.content * {
  margin: 0;
}
#producer {
  color: darkgray;
  border-bottom: 1px solid darkgray;
}
#name {
  font-size: 25px;
}
#price {
  font-size: 22px;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
}
.quantity * {
  margin: 5px;
}
.quantity #minus,
.quantity #plus {
  border: none;
  background-color: transparent;
  font-size: 20px;
  width: 25px;
  height: 25px;
}
.buttons {
  width: 400px;
  height: 100px;
  margin-top: 60px;
}

.buttons #purchase,
.buttons #cart {
  color: #fff;
  border-radius: 10px;
  width: 180px;
  height: 60px;
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
}

.buttons #purchase {
  background-color: #457b9d;
  border: 1px solid #457b9d;
}
.buttons #cart {
  background-color: #1d3557;
  border: 1px solid #1d3557;
}

#review {
  margin-top: 50px;
  width: 90%;
}

.review-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#rate,
.modify-rate {
  margin-right: 10px;
}

#review-content,
.modify-review-content {
  width: 80%;
  margin-right: 10px;
}

.review-submit,
.review-modify-submit {
  border: none;
  color: white;
  background-color: var(--main-color);
  padding: 4px;
  border-radius: 4px;
}

#review h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.user-review {
  position: relative;
  margin: 16px 0;
}

.user-review h3 {
  display: inline;
  font-size: 16px;
  font-weight: bold;
  color: var(--sub2-color);
}

.user-rate {
  font-size: 14px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.user-review-content {
  font-size: 14px;
  margin-top: 15px;
}

.modify-review,
.delete-review {
  color: var(--main-color);
  cursor: pointer;
  margin-left: 5px;
  background-color: transparent;
  border: none;
}

.delete-review:hover {
  color: var(--error-color);
}

.disabled {
  color: #acacac;
}
