<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>쇼핑 5팀 - mypage</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- Daum 주소 API 사용하기 위한 파일 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
      /** 우편번호 찾기 */
      function execDaumPostcode() {
        daum.postcode.load(function () {
          new daum.Postcode({
            oncomplete: function (data) {
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
              document.querySelector('#postalCode').value = data.zonecode;
              document.querySelector('#address1').value = data.address;
            },
          }).open();
        });
      }
    </script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="mypage-profile.css" />
    <script src="mypage-profile.js" type="module" defer></script>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- 헤더 부분 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/elice-rabbit.png" width="30" height="30" />
            <span class="has-text-link">쇼핑-5팀</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-end">
          <ul id="navbar">
            <li><a href="/login">로그아웃</a></li>
            <li><a href="/mypage">마이페이지</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
                <span>카트</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- 본문 -->
    <div class="div-container">
      <h1 id="mypage-title">정보 수정</h1>

      <div id="side-menus-wrap">
        <ul class="side-menus-list">
          <li>
            <a href="/mypage/orderlist">
              <button class="side-menu-element" value="0">주문 조회</button>
            </a>
          </li>
          <li>
            <a href="/mypage/profile">
              <button class="side-menu-element selected" value="1">
                정보 수정
              </button>
            </a>
          </li>
          <li>
            <a href="/mypage/manage">
              <button class="side-menu-element" value="2">제품 관리</button>
            </a>
          </li>
          <li>
            <a href="/mypage/unregister">
              <button class="side-menu-element" value="3">회원 탈퇴</button>
            </a>
          </li>
        </ul>
      </div>
      <div id="form-wrap">
        <form>
          <div class="form-wrap-item">
            <label for="fullNameInput">이름</label>
            <br />
            <input type="text" name="fullName" id="fullNameInput" />
          </div>

          <div class="form-wrap-item">
            <label for="userId">ID</label>
            <p id="user-id"></p>
          </div>

          <div class="form-wrap-item">
            <label for="passwordInput">현재 비밀번호</label>
            <input type="password" name="currentPassword" id="currentPassword" />
          </div>

          <div class="form-wrap-item">
            <label for="passwordConfirmInput">새 비밀번호</label>
            <p class="description">
              변경을 원치 않는 경우 현재 비밀번호를 입력하세요.
            </p>
            <input type="password" name="password" id="newPassword" />
          </div>

          <div class="form-wrap-item">
            <label for="phoneNumber">전화번호</label>
            <p class="description">- 를 포함하여 적어주십시오.</p>
            <input type="email" name="email" id="phoneNumber" />
          </div>

         <div class="form-wrap-item">
          <label for="address">주소</label>
          <div class="addressWrap">
            <input
              id="postalCode"
              name="postalCode"
              type="text"
              placeholder="주소 찾기를 클릭해 주세요."
              readonly
            />
            <button
              id="searchAddressButton"
              onclick="execDaumPostcode()"
              style="margin-bottom: 20px"
              type="button"
            >
              주소 찾기
            </button>
          </div>

          <input
            id="address1"
            name="address1"
            type="text"
            placeholder=""
            autocomplete="on"
            readonly
          />
          <input
            id="address2"
            name="address2"
            type="text"
            placeholder="상세주소를 입력해주세요."
            autocomplete="on"
          />
         </div>

          <button type="button" id="submitButton">수정하기</button>
        </form>
      </div>
    </div>
  </body>
</html>
