@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
:root {
  --main-color: #1d3557;
  --sub-color: #457b9d;
  --sub2-color: #a8dadc;
  --error-color: #e63946;
}

body {
  position: relative;
  background-color: #fff;
}
.navbar-end ul li a {
  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}
.navbar-end ul li a:hover {
  color: var(--sub-color);
}

#navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  line-height: 52px;
}
/*  사이드 메뉴 */
#side-menus-wrap {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.side-menu-element {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin: 8px 0;
  cursor: pointer;
  transition: all 0.1s;
}

.selected {
  font-weight: bold;
}

/* div 컨테이너 */
.div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 85vh;
}

.div-container h1 {
  width: fit-content;
  padding: 0 10px;
  font-size: 36px;
  font-weight: bold;
  margin: 30px auto;
  color: #000;
}

/* 주문 조회 컨테이너 */

#order-list-wrap {
  width: 800px;
}

/* 주문 조회 테이블 */
table {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

thead td {
  background-color: var(--sub-color);
  color: white;
}

table td {
  vertical-align: middle;
}
