<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-5팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/elice-rabbit.png" width="30" height="30" />
            <span class="has-text-link">쇼핑-5팀</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

          <div class="navbar-end">
            <ul id="navbar">
              <li><a href="/register">회원가입</a></li>
              <li><a href="/login">로그인</a></li>
              <li>
                <a href="/cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="div-container">
      <div id="slide-buttons">
        <h2>Woman</h2>
        <ul class="slide-button-list">
          <li><button class="slide-button-element" value="0">new</button></li>
          <li><button class="slide-button-element" value="1">beauty</button></li>
          <li><button class="slide-button-element" value="2">shoes</button></li>
          <li><button class="slide-button-element" value="3">dress</button></li>
        </ul>
        <h2>Man</h2>
        <ul class="slide-button-list">
          <li><button class="slide-button-element" value="4">new</button></li>
          <li><button class="slide-button-element" value="5">suit</button></li>
          <li><button class="slide-button-element" value="6">shoes</button></li>
          <li><button class="slide-button-element" value="7">athletics</button></li>
        </ul>
      </div>
      <div id="slideShow">
        <ul class="slides">
          <!-- for woman -->
          <li class="item-photo new">
            <a href="/list/w/new">
              <img src="https://static.zara.net/photos///contents/mkt/spots/ss22-north-woman-new/subhome-xmedia-19//w/1039/IMAGE-landscape-f15c96c3-370d-4703-a9af-4a92065f0bfe-default_0.jpg?ts=1652354105595" alt="">
            </a>
          </li>
          <li class="item-photo beauty">
            <a href="/list/w/beauty">
              <img src="https://static.zara.net/photos///contents/mkt/spots/ss22-north-woman-beauty-new/subhome-xmedia-19//w/1039/IMAGE-landscape-a17387a1-72f2-4317-98db-62dbcbb22cff-default_0.jpg?ts=1652193887716" alt="">
            </a>
          </li>
          <li class="item-photo shoes">
            <a href="/list/w/shoes">
              <img src="https://static.zara.net/photos///contents/mkt/spots/ss22-north-woman-shoes-bags/subhome-xmedia-21//w/1046/landscape-9de6afa9-4b7d-4b11-90a4-f334fa82f3fb_0.jpg?ts=1653297062007" alt="">
            </a>
          </li>
          <li class="item-photo dress">
            <a href="/list/w/dress">
              <img src="https://static.zara.net/photos///contents/mkt/spots/ss22-north-woman-dresses/subhome-xmedia-18//w/1039/IMAGE-landscape-77184496-2326-49d8-93e8-4c0f54a6f699-default_0.jpg?ts=1651837590664" alt="">
            </a>
          </li>

          <!-- for men -->
          <li class="item-photo new">
            <a href="/list/m/new">
              <img src="https://static.zara.net/photos///contents/mkt/spots/ss22-north-man-new/subhome-xmedia-20//w/1046/IMAGE-landscape-e173a6d5-0d1e-4da4-9e7f-151b0946b25e-default_0.jpg?ts=1653035472480" alt="">
            </a>
          </li>
          <li class="item-photo suit">
            <a href="/list/m/suit">
              <img src="https://images.unsplash.com/photo-1601484993451-8fccfeedc825?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170" alt="">
            </a>
          </li>
          <li class="item-photo shoes">
            <a href="/list/m/shoes">
              <img src="https://images.unsplash.com/photo-1520639888713-7851133b1ed0?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387  " alt="">
            </a>
          </li>
          <li class="item-photo athletics">
            <a href="/list/m/athletics">
              <img src="https://images.unsplash.com/photo-1461897104016-0b3b00cc81ee?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
