<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>5ot</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <span class="has-text-link">5ot</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-end">
          <ul id="navbar">
            <li><a href="/register">회원가입</a></li>
            <li><a href="/login">로그인</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
                <span>카트</span>
              </a>
            </li>
            <li>
              <a href="search"
                ><span class="magnify"
                  ><i class="fa-solid fa-magnifying-glass"></i></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="div-container">
      <div id="slide-buttons">
        <h2>Woman</h2>
        <ul class="slide-button-list woman"></ul>
        <h2>Man</h2>
        <ul class="slide-button-list man"></ul>
      </div>
      <div id="slideShow">
        <ul class="slides"></ul>
      </div>
    </div>
    <footer>
      <button class="madeButton">
        <span data-title="세령 미소 수정 두웅 세웅">MADE BY</span>
      </button>
    </footer>
    <a
      class="downloadButton"
      href="./엘리스_1차프로젝트_5팀(5ot)_발표.pdf"
      download
      >🙌</a
    >
  </body>
</html>
