@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

span.has-text-link {
  font-family: 'Lobster', sans-serif;
  color: black;
  font-size: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
:root {
  --main-color: #1d3557;
  --sub-color: #457b9d;
  --sub2-color: #a8dadc;
  --error-color: #e63946;
}
.navbar-end ul li a {
  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}
.navbar-end ul li a:hover {
  color: var(--sub-color);
}

#navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  line-height: 52px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login-form-box {
  width: 30rem;
}

.login-form-box .title {
  text-align: center;
  color: var(--sub-color);
}

.login-form-box .button {
  height: 50px;
  font-weight: bold;
  background-color: var(--sub-color);
  color: white;
}
.login-form-box .button:hover {
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
}

.snsLogin {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  gap: 5px;
}

.login-for-test-container {
  background: white;
  padding: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-for-test-container p {
  color: gray;
  font-weight: 600;
  padding-bottom: 0.5em;
}

.login-form-container button {
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 8px;
}
