<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>5ot</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="search.css" />
    <script src="search.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 부분 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <span class="has-text-link">5ot</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-end">
          <ul id="navbar">
            <li><a href="/login">로그아웃</a></li>
            <li><a href="/mypage">마이페이지</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
                <span>카트</span>
              </a>
            </li>
            <li>
              <a href="/search"
                ><span class="magnify"
                  ><i class="fa-solid fa-magnifying-glass"></i></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- 본문 -->
    <div class="div-container">
      <div class="searchbar">
        <h1 class="search-form-title">상품 검색</h1>
        <form class="search-form">
          <input
            type="text"
            id="search"
            placeholder="찾으시는 제품명을 입력해주세요"
          />
          <button type="button" id="submit">검색</button>
        </form>
      </div>
    </div>
  </body>
</html>
